#box {
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 1px solid black;
	background-color: orange;
	margin-right: 30px;
	display: inline-block;
	/*
		without box sizing:  border-box: 
	
		the exact width of our element:  252px;
		Border and Padding are added on top of the width
		
		1px border + 50px left padding + 150px width +50px right padding+ 1px right border = 252px
			
		with box-sizing: border-box;
		the exact width of our element:  150px;
		Border and padding are included in the total width
		1px left border + 50px padding + 48px content width + 50px right padding + 1px right border = 150px
		
		padding - is space within an element.
		margin is space outside of the element or outside of an element's border.

	*/


}

#box2 {

		height: 150px;
		width: 150px;	
		border: 1px solid black;
		background-color: yellow;
		display: inline-block;
}

span {

		height: 150px;
		width: 150px;	
		border: 1px solid black;
		background-color: green;
		display: inline-block;
}
/*CSS Reset*/
* {
	/*Zeroes all margins and paddings of our elements. Because by default, elements are being added margins and paddings by browsers.

		box-sizing:  border-box; to accurately measure our elements, that padding and border are not added on top of the element's width.
	



	/*margin:  0;
	font-size: 5px;
	padding: 0;
	box-sizing: border-box;
*/
}
	/*{
#nestedDiv 
		rem:  root element - a measurement based the font-size of the root element (HTML) Default:  16px;
		
		2 x root element's font size = 2rem

		em:  is a measurement based on the foot-size of the parent element.;
	
		because the parent div's font-size is 10px
		2em = 20px*/

	
	height: 2em;
	width: 2em;
	border: 1px solid black;
	background-color: red;
	/*position: allows to determine the position of an element.

		position relative; allows to move or determine the position of our element relative to where it was originally in our html document.

		left,right,top,bottom, these properties are used in conjuction with the position property and they determine the measurement from a direction.
	
		% as a measurement is based on the width of the parent element.
		px is an exact measurement, across all the devices.

		
		vh/vw - viewport which is the visible area of our page.
		vw- viewport width
		vh - viewport height



	*/
	position: relative;
	left: 33%;
	top: 33%;

}
