* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open sans', sans-serif;
}

nav {
	padding: 0.6rem;
	padding-top: 0.6rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	padding-bottom: 0.6rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid black;
}

nav > ul {
	list-style: none;
}


#intro {
	padding-left: 13%;
	padding-right: 13%;
	padding-bottom: 4rem;
	padding-top: 3rem;
	text-align: center;
	background-color: yellowgreen;
}
#intro h2 , #intro p {
	margin-bottom: 2rem;
}
#intro button {
	color: yellow;
	font-weight: bold;
	background-color:212617 ;
	border-radius: 20px;
	font-size: 2rem;
	padding: 1rem;
}
#intro wholesale-business {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	background-color: yellowgreen;
}
#intro wholesale-business h2 {
	margin-bottom: 1rem;
	text-align: center;
}
#intro wholesale-business h3{
	margin-bottom: 1rem;
	text-align: center;
}
#intro wholesale-business .card {
	display: inline-block;
	vertical-align: top;
	min-height: 170px;
	width: 33.33%;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	border: solid black;
}
#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;

}