	* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body {
	width: 100%;
	height: 100vh;
	background-image: url(background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.nav-logo {
	padding: 0.8rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid dimgray;
}
.logo{
	width: 120px;
	cursor: pointer;
}
ul li{
	list-style: none;
	margin: 0.5rem;
	display: inline-block;
	position: relative;
}
ul li a{
	text-decoration: none;
	color: #;
	text-transform: uppercase;
}
ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
ul li:hover:after{
	width: 100%;
}
.content {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}
.content h1{
	font-size: 70px;
	margin-top: 80px;
}
.contentp{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}
button {
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #f58025;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span {
	background: #009688;
	height: 100%;
	width: 100%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}
button:hover span{
	border: none;
}